@import url('https://fonts.googleapis.com/css2?family=Philosopher:wght@700&family=Roboto+Condensed:wght@700&family=Rowdies:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@900&display=swap');


body {
    margin: 0em;
    padding: 0em;
    background-color: #f0f0f0;

}
.Menutotal {
    width: 100%;
    height: 5em;
}
.MenuPrincipal {
    user-select:none;
    width: 100%;
    height: 5em;
    background-color: #000000;
    position: fixed;
    z-index: 1000;
}
.Ulprincipal {
    list-style-type: none;
    margin-top: 10px;
    padding: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    align-content: center;
    margin-left: 10px;
    margin-right: 5px;
}
.Liprincipal {
    display: inline-block;
}
.Aprincipal {
    text-decoration: none;
    color: black;
}
.Ulvertical {
    list-style: none;
}
input[type=checkbox] {
    display: none;
}
input[type=checkbox]:checked~nav {
    transform: translate(350px);
}
nav {
    border-radius: 0.3em;
    width: 20em;
    height: 90vh;
    position: absolute;
    margin-top: 5px;
    background-color: rgba(0, 0, 0, 0.637);
    left: -350px;
    transition: all 1.0s;
}
.TituloVertical {
    cursor:default;
    color: #ffffff; 
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif; 
    font-size: 25px;
}
.Avertical {
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-decoration: none;
    color: rgb(255, 255, 255);
    padding: 10px 5px;
    -moz-transition: all 0.3s;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
}
.Avertical:hover {
    font-size: 18px;
    color: rgb(255, 0, 0);
    -moz-transform: scale(1.1);
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
}
.titulototal {
    box-shadow: 0 0 10px black;
    margin-left: -40px;
    text-align: center;
    background-color: #000000;
    width: 102.1%;
    height: 90px;
}
h4 {
    text-shadow:  0 0 4px white;
    font-size: 70px;
    color: #ffffff;
    font-family: 'Poppins', sans-serif
}
.caixadetemas {
    width: 98%;
    height: 100%;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
}
.resumo {
    background-color: #000000;
    height: 820px;
    width: 400px;
    margin: 10px;
    border-radius: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 0 0 10px rgb(179, 179, 179);
    text-align: left;
}
.imgresumo {
    max-width: 100%;
    height: 250px;
    border-radius: 30px 30px 0 0;
}
p {
    color: #ffffff;
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
    margin: 15px;
    word-break: break-all;
    
}
.detalhes {
    margin-left: 20px;
    width: 75%;
    height: 810px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
h1 {
    margin-top: -7px;
    font-size: 50px;
    color: rgb(255, 255, 255);
    font-family: 'Poppins', sans-serif;
    text-shadow: 0 0 5px rgb(202, 202, 202);
    text-align: center;
}
h2 {
    color: black;
    font-size: 30px;
    font-family: 'Poppins', sans-serif;
}
.p1 {
    margin-top: -10px;
    color: #000000;
    font-size: 13px;
    font-family: Arial, Helvetica, sans-serif;
    word-break: break-all;
}
.caixatema {
    background-color: rgb(255, 255, 255);
    width: 400px;
    height: 400px;
    border-radius: 30px;
    display: flex;
    flex-direction: column;
    justify-content:flex-start;
    align-items: center;
    margin: 10px;
    box-shadow: 0 0 10px rgb(202, 202, 202);
}
.imgtema {
    border-radius: 30px 30px 0 0;
    width: 100%;
    height: 300px;
}
video {
    padding: 10px;
    background-color: #000000;
    width: 95%;
    height: 97%;
    border-radius: 0 0 30px 30px;
}
.caixaria2 {
    text-align: center;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0);
    margin-left: -40px;
    margin-top: 80px;
    background-color: #00000000;
    width: 102%;
    height: 105%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}
.imgtopico {
    width: 80%;
    height: 180px;
    border-radius: 3px;
}
.temas {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    align-content: space-between;
    border-radius: 10px;
    margin: 15px;
    width: 22%;
    height: 360px;
    background-color: rgb(255, 255, 255);
    -moz-transition: all 0.3s;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
}
.temas:hover {
    -moz-transform: scale(1.1);
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
    animation: animate 1s linear infinite;
    box-shadow: 0 0 15px rgb(250, 250, 250),
                0 0 15px rgb(128, 0, 0);
}
@keyframes animate {
    0% {
        filter: hue-rotate(0deg);
    }
    100% {
        filter: hue-rotate(360deg);
    }
}
.titulotopico {
    cursor: default;
    text-shadow: 0 0 5px rgb(255, 7, 7);
    color: #000000;
    font-size: 30px;
    font-family: 'Poppins', sans-serif;
}
.ptopico {
    color: black;
    font-size: 14px;
    font-family: Arial, Helvetica, sans-serif;
}
.buttontopico {
    width: 150px;
    outline: none;
    background-color: #000000;
    color: #f0f0f0;
    font-size: 20px;
    border-radius: 30px;
    -moz-transition: all 0.3s;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
}
.buttontopico:hover {
    box-shadow: 0 0 4px red;
    -moz-transform: scale(1.1);
    -webkit-transform: scale(1.1);
     transform: scale(1.1);
}
.hiperlink {
    color: #f0f0f0;
    text-decoration: none;
}
.footer {
    background-color: #000000;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: nowrap;
    position: relative;
}
.contato {
    width: 30%;
    height: 150px;
    border-radius: 7px;
    background-color: #ffffff;
    margin: 15px;
    user-select:none;
}
.Media {
    margin-left: -30px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 40px;
    flex-wrap: wrap;
}
.Limedia {
    list-style: none;
}
.Amedia {
    font-size: 3em;
    color: black;
    margin:15px;
    display: inline-block;
    transition: 0.5s;
}
.Amedia:hover {
    transform: translateY(-10px);
    animation: animation 1s linear infinite;
    color:rgb(255, 0, 0);
}
@keyframes animation {
    0% {
        filter: hue-rotate(0deg);
    }
    100% {
        filter: hue-rotate(360deg);
    }
}
.direitos {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    user-select:none;
    width: 30%;
    height: 150px;
    border-radius: 7px;
    background-color: #ffffff;
    margin: 15px;
}
.Direitos {
    font-weight: bold;
    cursor: default;
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1em;
}
@media only screen and (max-device-width: 800px) {
    .Menutotal {
    width: 100%;
    height: 8em;
}
.MenuPrincipal {
    width: 100%;
    height: 8em;
}
.Ulprincipal {
    padding: 0;
}
.Liprincipal {
    margin-left: 0em;
    margin-top: 1em;
}
.imgbotao {
    margin-top: 1em;
    font-size: 30px;
}
.imgmenu {
    margin-top: 1em;
    height: 80px;
}
.imgmenus {
    margin-top: 1em;
    height: 50px;
    width: 200px;
    margin-right: 10px;
}
input[type=checkbox]:checked~nav {
    transform: translate(350px);
}
nav {
    border-radius: 0.3em;
    width: 20em;
    height: 80dvh;
    margin-top: 19px;
    left: -350px;
}
.TituloVertical {
    margin-left: -25px;
    font-size: 55px;
}
.Avertical {
    margin-left: -100px;
    font-size: 32px;
    padding: 10px 5px;
}
.Avertical:hover {
    font-size: 32px;
    color: rgb(250, 1, 1);
    transition: 0.3s;
}
.caixadetemas {
    width: 98%;
    height: 100%;
}
.resumo {
    height: 100%;
    width: 400px;
}
.imgresumo {
    max-width: 100%;
    height: 250px;
    text-align: center;
}
p {
    margin: 10px;
    font-size: 30px;
    
}
.detalhes {
    width: 75%;
    height: 100%;
}
h1 {
    font-size: 50px;
}
h2 {
    text-align: center;
    font-size: 40px;
}
.p1 {
    font-size: 30px;
}
.caixatema {
    width: 100%;
    height: 100%;
    text-align: center;
}
.imgtema {
    width: 100%;
    height: 60%;
}
video {
    width: 95%;
    height: 80%;
    background-color: rgba(255, 250, 240, 0);
}
.temas {
    margin: 30px;
    width: 80%;
    height: 600px;
}
.titulotopico {
    margin-top: -20px;
    text-shadow: 0 0 5px rgb(255, 7, 7);
    font-size: 50px;
}
.imgtopico {
    width: 80%;
    height: 300px;
    border-radius: 3px;
}
.ptopico {
    font-size: 35px;
}
.buttontopico {
    margin-top: 25px;
    width: 350px;
    font-size: 40px;
}
.contato {
    width: 47%;
    height: 150px;
    margin: 15px;
}
.Amedia {
    font-size: 5em;
    margin:7px;
}
.direitos {
    width: 47%;
    height: 150px;
    margin: 15px;
}
.Direitos {
    font-size: 1.5em;
}
}
@media only screen and (min-device-width: 800px) and (max-device-width: 1100px) {
    .Menutotal {
    width: 100%;
    height: 5em;
}
.MenuPrincipal {
    width: 100%;
    height: 5em;
}
.Ulprincipal {
    padding: 0;
}
.Liprincipal {
    margin-left: 0em;
    margin-top: 1em;
}
input[type=checkbox]:checked~nav {
    transform: translate(350px);
}
nav {
    border-radius: 0.3em;
    width: 20em;
    height: 80dvh;
    margin-top: 19px;
    left: -350px;
}
.TituloVertical {
      margin-left: -25px;
    font-size: 45px;
}
.Avertical {
      margin-left: -25px;
    font-size: 28px;
    padding: 10px 5px;
}
.Avertical:hover {
    font-size: 30px;
    color: rgb(250, 1, 1);
    transition: 0.3s;
}
.caixadetemas {
    width: 98%;
    height: 100%;
}
.resumo {
    height: 1610px;
    width: 300px;
}
.imgresumo {
    max-width: 100%;
    height: 250px;
}
p {
    font-size: 22px;
    
}
.detalhes {
    width: 75%;
    height: 1200px;
}
h1 {
    font-size: 40px;
}
h2 {
    text-align: center;
    font-size: 25px;
}
.p1 {
    font-size: 11.5px;
}
.caixatema {
    width: 100%;
    height: 252px;
}
.imgtema {
    width: 100%;
    height: 200px;
}
video {
    width: 95%;
    height: 80%;
    margin-top: -30px;
}
.temas {
    margin: 30px;
    width: 80%;
    height: 600px;
}
.titulotopico {
    margin-top: -20px;
    text-shadow: 0 0 5px rgb(255, 7, 7);
    font-size: 50px;
}
.imgtopico {
    width: 80%;
    height: 300px;
    border-radius: 3px;
}
.ptopico {
    font-size: 35px;
}
.buttontopico {
    margin-top: 0px;
    width: 350px;
    font-size: 40px;
}
}
@media only screen and (min-device-width: 1100px) and (max-device-width: 1800px) {
    .caixadetemas {
        width: 98%;
        height: 100%;
    }
    .imgtema {
        width: 100%;
        height: 70%;
    }
    video {
        width: 95%;
        height: 84%;
        margin-top: -30px;
    }
    .resumo {
        height: 1240px;
        width: 300px;
    }
    .imgresumo {
        max-width: 100%;
        height: 250px;
    }
    p {
        font-size: 22px;
        
    }
    .detalhes {
        width: 75%;
        height: 1200px;
    }
    h1 {
        font-size: 40px;
    }
    h2 {
        text-align: center;
        font-size: 25px;
    }
    .p1 {
        font-size: 12.5px;
    }
    .caixatema {
        width: 47%;
        height: 400px;

    }
}
